 </h1>New Comment</>
 <%= form_for (@comment) do |f| %>
    <%= f.hidden_field :trail_id %>
    <%= f.label :content, "New comment"%>:
    <br>
    <%= f.text_area :content %>
    <br>
    <%= f.submit %>
<%end %>