<%= link_to @comment.trail.name, trail_path(@trail) %>


<p><i> <%= @comment.reply %></i></p>
<p> - Posted By <%= @comment.user.username %>

<% if @comment.user == current_user %>
<%= link_to "Edit", edit_trail_comment_path(@trail, @comment) %>
<%= link_to "Delete Comment", trail_comment_path(@trail, @comment), method: 'delete' %>
<%end %>

