<h2><%= @trail.name %></h2>
<h4>City:</h4> <%= @trail.city %><br>
<h4>Length:</h4> <%= @trail.length %><br>
<h4>Skill Level: </h4> <%= @trail.skill_level %><br>
<h4>Description: </h4><%= @trail.description %><br>
<%= link_to 'Edit Trail', edit_trail_path(@trail) %>
<%= link_to 'Delete Trail', destroy_trail_path(@trail) %>
